# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.classpath
.project
.settings/
bin/

# Ignore VSCode settings folder
.vscode/

# Ignore IntelliJ stuff
log4j-solace-appender.iml
log4j-solace-appender.ipr
log4j-solace-appender.iws
